#everything{style: 'display:none'}
  =render partial: 'shared/tabs', locals: { active_tab: :trafficking }
  #bkg1.dynamic-background
  #hana
    =image_tag("hana.png")
  .window.bigger-window
    .contents
      .slide-container.big-slides
        .slide.big-slide
          %a{name: 'definicija'}
          %p= t(:trgovina_ljudima_text1)
          #scroll
            =image_tag("scroll.png")
        .slide.big-slide
          %p= t(:trgovina_ljudima_text2)
          %p.italic= t(:prava_zrtava)

          %a{name: 'prava_zrtava'}
          %h3.number 1
          %h2= t(:privatnost)
          %p= t(:privatnost_text) 

          %h3.number 2
          %h2= t(:informiranost)
          %p= t(:informiranost_text)
        .slide.big-slide
          .pad &nbsp;
          %h3.number 3
          %h2= t(:fizicka_zastita)
          %p= t(:fizicka_zastita_text)
          
          %h3.number 4
          %h2= t(:zastita_svjedoka)
          %p= t(:zastita_svjedoka_text)

          %h3.number 5
          %h2= t(:pravna_pomoc)
          %p= t(:pravna_pomoc_text)
        .slide.big-slide
          %h3.number 6
          %h2= t(:nadoknada_stete)
          %p= t(:nadoknada_stete_text)
          %h3.number 7
          %h2= t(:nekaznjavanje)
          %p= t(:nekaznjavanje_text)
          %h3.number 8
          %h2= t(:smestaj)
          %p= t(:smestaj_text)
        .slide.big-slide
          %h3.number 9
          %h2= t(:medicinska_pomoc)
          %p= t(:medicinska_pomoc_text)
          %h3.number 10
          %h2= t(:psiholoska_pomoc)
          %p= t(:psiholoska_pomoc_text)
          %h3.number 11
          %h2= t(:reintegracija)
          %p= t(:reintegracija_text)
        .slide.big-slide
          %h3.number 12
          %h2= t(:prevodioc)
          %p= t(:prevodioc_text)
          .pad &nbsp;
          %em
            %p= t(:nijedno_od_prava)
        .slide.big-slide
          %h3.number 13
          %h2= t(:boravak)
          %p= t(:boravak_text)
          %h3.number 14
          %h2= t(:povratak)
          %p= t(:povratak_text_1)
          %p= t(:povratak_text_2)
        - if(t(:stats) > 0)
          - t(:stats).times do |i|

            .slide.big-slide
              - if i == 0
                %a{name: 'statisticki_podaci'} &nbsp;
                %h2= t(:statisticki_podaci)
                <br/>

              - if I18n.locale.to_sym == :en
                - if i == 0
                  %h2 Serbia
                  %br
                - if i == 3
                  %h2 Croatia
                  %br
                - if i == 5
                  %h2 Bosnia and Herzegovina
                  %br
                - if i == 8
                  %h2 Macedonia
                  %br

              =image_tag ("stats/stat#{i + 1}.#{I18n.locale}.png")

        .slide.big-slide        
          %a{name: 'trendovi_u'}
          %a{name: 'trendovi_u_sr'}
          %h1= t(:trendovi_u_trgovini)
          - t(:trendovi_u_trgovini_list)[0..1].each do |para|
            %p= para.html_safe
        .slide.big-slide
          - t(:trendovi_u_trgovini_list)[2..3].each do |para|
            %p= para.html_safe
        .slide.big-slide
          - t(:trendovi_u_trgovini_list)[4..5].each do |para|
            %p= para.html_safe
        -if t(:trendovi_u_trgovini_list).size() > 6
          .slide.big-slide
            - t(:trendovi_u_trgovini_list)[6..7].each do |para|
              %p= para.html_safe
        -if I18n.locale == :en
          - t(:mk_trends).each_with_index do |text, index|
            .slide.big-slide
              %a{name: 'trendovi_u_mk'}
              - if index == 0
                %h1= t(:mk_trends_title) 
              %p= text.html_safe
          - t(:ba_trends).each_with_index do |text, index|
            .slide.big-slide
              %a{name: 'trendovi_u_ba'}
              - if index == 0
                %h1= t(:ba_trends_title) 
              %p= text.html_safe
          - t(:hr_trends).each_with_index do |text, index|
            .slide.big-slide
              %a{name: 'trendovi_u_hr'}
              - if index == 0
                %h1= t(:hr_trends_title) 
              %p= text.html_safe


        .slide.big-slide
          .logos
            =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
            %p.disclaimer= t(:disclaimer)




        
  #scroll
    =image_tag("scroll.png")


