#everything{style: 'display:none'}
  =render partial: 'shared/tabs', locals: { active_tab: :trafficking }
  #bkg1.dynamic-background
  #hana
    =image_tag("hana.png")
  .window.bigger-window
    .contents
      .slide-container
        .slide.big-slide.slide1
          %p= t(:trgovina_ljudima_text1)
          #scroll
            =image_tag("scroll.png")
        .slide.big-slide.slide2
          %p= t(:trgovina_ljudima_text2)
          %p.italic= t(:prava_zrtava)

          %h3.number 1
          %h2= t(:privatnost)
          %p= t(:privatnost_text) 

          %h3.number 2
          %h2= t(:informiranost)
          %p= t(:informiranost_text)
        .slide.big-slide.slide3
          .pad &nbsp;
          %h3.number 3
          %h2= t(:fizicka_zastita)
          %p= t(:fizicka_zastita_text)
          
          %h3.number 4
          %h2= t(:zastita_svjedoka)
          %p= t(:zastita_svjedoka_text)

          %h3.number 5
          %h2= t(:pravna_pomoc)
          %p= t(:pravna_pomoc_text)
        .slide.big-slide.slide4
          %h3.number 6
          %h2= t(:nadoknada_stete)
          %p= t(:nadoknada_stete_text)
          %h3.number 7
          %h2= t(:nekaznjavanje)
          %p= t(:nekaznjavanje_text)
          %h3.number 8
          %h2= t(:smestaj)
          %p= t(:smestaj_text)
        .slide.big-slide.slide5
          %h3.number 9
          %h2= t(:medicinska_pomoc)
          %p= t(:medicinska_pomoc_text)
          %h3.number 10
          %h2= t(:psiholoska_pomoc)
          %p= t(:psiholoska_pomoc_text)
          %h3.number 11
          %h2= t(:reintegracija)
          %p= t(:reintegracija_text)
        .slide.big-slide.slide6
          %h3.number 12
          %h2= t(:prevodioc)
          %p= t(:prevodioc_text)
          .pad &nbsp;
          %em
            %p= t(:nijedno_od_prava)
        .slide.big-slide.slide7
          %h3.number 13
          %h2= t(:boravak)
          %p= t(:boravak_text)
          %h3.number 14
          %h2= t(:povratak)
          %p= t(:povratak_text_1)
          %p= t(:povratak_text_2)
        - if(t(:stats))
          .slide.big-slide.slide8
            %h2= t(:statisticki_podaci)
            <br/>
            =image_tag ("stats/stat1.#{I18n.locale}.png")
          .slide.big-slide.slide9
            =image_tag ("stats/stat2.#{I18n.locale}.png")
          .slide.big-slide.slide10
            =image_tag ("stats/stat3.#{I18n.locale}.png")
          .slide.big-slide.slide11
            =image_tag ("stats/stat4.#{I18n.locale}.png")
          .slide.big-slide.slide12            
            %h1= t(:trendovi_u_trgovini)
            - t(:trendovi_u_trgovini_list)[0..1].each do |para|
              %p= para.html_safe
          .slide.big-slide.slide13
            - t(:trendovi_u_trgovini_list)[2..3].each do |para|
              %p= para.html_safe
          .slide.big-slide.slide14
            - t(:trendovi_u_trgovini_list)[4..5].each do |para|
              %p= para.html_safe
          -if t(:trendovi_u_trgovini_list).size() > 6
            .slide.big-slide.slide15
              - t(:trendovi_u_trgovini_list)[6..7].each do |para|
                %p= para.html_safe
        - else
          .slide.big-slide.slide8           
            %h1= t(:trendovi_u_trgovini)
            - t(:trendovi_u_trgovini_list)[0..1].each do |para|
              %p= para
          .slide.big-slide.slide9
            - t(:trendovi_u_trgovini_list)[2..3].each do |para|
              %p= para
          .slide.big-slide.slide10
            - t(:trendovi_u_trgovini_list)[4..5].each do |para|
              %p= para
          -if t(:trendovi_u_trgovini_list).size() > 6
            .slide.big-slide.slide11
              - t(:trendovi_u_trgovini_list)[6..7].each do |para|
                %p= para







        
  #scroll
    =image_tag("scroll.png")


