#everything{style: 'display:none'}
  =render partial: 'shared/tabs', locals: { active_tab: :trgovina_ljudima }
  #bkg1.dynamic-background
  #hana
    =image_tag("hana.png")
  .window.bigger-window
    .contents
      .slide-container
        .slide.slide1
          %p= t(:trgovina_ljudima_text1)
        .slide.slide2
          %p= t(:trgovina_ljudima_text2)
          %p.italic= t(:prava_zrtava)

          %h2.number 1
          %h2= t(:privatnost)
          %p= t(:privatnost_text) 

          %h2.number 2
          %h2= t(:informiranost)
          %p= t(:informiranost_text)
        .slide.slide3
          %h2.number 3
          %h2= t(:fizicka_zastita)
          %p= t(:fizicka_zastita_text)
          
          %h2.number 4
          %h2= t(:zastita_svjedoka)
          %p= t(:zastita_svjedoka_text)

          %h2.number 5
          %h2= t(:pravna_pomoc)
          %p= t(:pravna_pomoc_text)
  #scroll
    =image_tag("scroll.png")


