#everything{style: 'display:none'}
  =render partial: 'shared/tabs', locals: { active_tab: active_tab}
  #bkg1.dynamic-background
  #hana
    =image_tag("hana.png")
  .window.news-window
    .contents
      .slide-container
        - slide_counter = 0
        - articles.in_groups_of(6, false) do |article_group|
          %div{class: "slide slide#{slide_counter += 1}"}
            %ul.news
              - article_group.each do |article|
                %li
                  - if article.title_image && article.title_image.image?
                    %a{href: "javascript:show_news(#{article.id})"}
                      =image_tag(article.title_image.url(:thumb))
                      %h1= article.title
                  - else
                    %a{href: "javascript:show_news(#{article.id})"}
                      .file-type
                        = article.title_image ? image_tag(Icon.for_filename(article.title_image.file.file)) : ""
                      %h1= article.title
          
  #scroll
    =image_tag("scroll.png")



