.center-fixed
  %nav
    %ul
      %li
        %a{href: '/home', class: "#{active_tab == :home ? 'active' : ''}"}= t(:home)
      %li
        %a{href: '/trgovina', class: "#{active_tab == :trgovina_ljudima ? 'active' : ''}"}= t(:trgovina_ljudima)
      %li
        %a{href: '#', class: "#{active_tab == :o_projektu ? 'active' : ''}"}= t(:o_projektu)
      %li
        %a{href: '/news', class: "#{active_tab == :vijesti ? 'active' : ''}"}= t(:vijesti)
      %li
        %a{href: '/documents', class: "#{active_tab == :documents ? 'active' : ''}"}= t(:dokumenti_i_izvjestaji)
      %li
        %a{href: '/press', class: "#{active_tab == :press ? 'active' : ''}"}= t(:press)
      %li.stretch
