:coffeescript
  $ ->
    $("nav ul li").mouseover(->
      $(this).find("ul.submenu").css("margin-left", -$(this).width())
      $(this).find("ul.submenu").css("visibility", "visible")
    )
    $("nav ul li").mouseout(->
      $(this).find("ul.submenu").css("visibility", "hidden")
    )
    


.center-fixed
  %ul.mini-language-picker
    %li
      %a{href: '?locale=ba', class: "#{I18n.locale == :ba ? 'active' : ''}"} BIH
    %li
      %a{href: '?locale=en', class: "#{I18n.locale == :en ? 'active' : ''}"} ENG
    %li
      %a{href: '?locale=hr', class: "#{I18n.locale == :hr ? 'active' : ''}"} HRV
    %li
      %a{href: '?locale=mk', class: "#{I18n.locale == :mk ? 'active' : ''}"} MAK
    %li
      %a{href: '?locale=sr', class: "#{I18n.locale == :sr ? 'active' : ''}"} SRB
  %nav
    %ul
      %li
        %a{href: '/home', class: "#{active_tab == :home ? 'active' : ''}"}= t(:home)
        %ul.submenu
          %li
            %a{href: '/home#meet'}= t(:upoznajte_hanu)
          %li
            %a{href: '/home#society'}= t(:sto_drustvo_moze)
      %li
        %a{href: '/trafficking', class: "#{active_tab == :trafficking ? 'active' : ''}"}= t(:trgovina_ljudima)
        %ul.submenu
          %li
            %a{href: '/trafficking#definicija', 'data-slide' => '1'}= t(:definicija)
          %li
            %a{href: '/trafficking#prava_zrtava', 'data-slide' => '2'}= t(:prava_zrtava_x)
          %li
            %a{href: '/trafficking#statisticki_podaci', 'data-slide' => '3'}= t(:statisticki_podaci)
          - if I18n.locale == :en
            %li
              %a{href: '/trafficking#trendovi_u_sr', 'data-slide' => '4'} Human Trafficking in Serbia
            %li
              %a{href: '/trafficking#trendovi_u_mk', 'data-slide' => '4'} Human Trafficking in Macedonia
            %li
              %a{href: '/trafficking#trendovi_u_ba', 'data-slide' => '4'} Human Trafficking in Bosnia and Herzegovina
            %li
              %a{href: '/trafficking#trendovi_u_hr', 'data-slide' => '4'} Human Trafficking in Croatia
          -else
            %li
              %a{href: '/trafficking#trendovi_u', 'data-slide' => '4'}= t(:trendovi_u)

      %li
        %a{href: '/about', class: "#{active_tab == :about ? 'active' : ''}"}= t(:o_projektu)
        %ul.submenu
          %li
            %a{href: '/about#ban'}= 'Balkans ACT Now!'
          %li
            %a{href: '/about#goals'}= t(:ciljevi_projekta)
          %li
            %a{href: '/about#activities'}= t(:projektne_aktivnosti)
          %li
            %a{href: '/about#results'}= t(:rezultati)
          %li
            %a{href: '/about#associates'}= t(:suradnici)
          %li
            %a{href: '/about#contact'}= t(:kontakt)
      %li
        %a{href: '/compensation', class: "#{active_tab == :compensation ? 'active' : ''}"}= t(:o_kompenzaciji)
      %li
        %a{href: '/news', class: "#{active_tab == :news ? 'active' : ''}"}= t(:vesti_i_press)
      %li
        %a{href: '/documents', class: "#{active_tab == :documents ? 'active' : ''}"}= t(:dokumenti_i_izvjestaji)
      %li.stretch
