.center-fixed
  %ul.mini-language-picker
    %li
      %a{href: '?locale=ba', class: "#{I18n.locale == :ba ? 'active' : ''}"} BIH
    %li
      %a{href: '?locale=en', class: "#{I18n.locale == :en ? 'active' : ''}"} ENG
    %li
      %a{href: '?locale=hr', class: "#{I18n.locale == :hr ? 'active' : ''}"} HRV
    %li
      %a{href: '?locale=mk', class: "#{I18n.locale == :mk ? 'active' : ''}"} MAK
    %li
      %a{href: '?locale=sr', class: "#{I18n.locale == :sr ? 'active' : ''}"} SRB
  %nav
    %ul
      %li
        %a{href: '/home', class: "#{active_tab == :home ? 'active' : ''}"}= t(:home)
      %li
        %a{href: '/trafficking', class: "#{active_tab == :trafficking ? 'active' : ''}"}= t(:trgovina_ljudima)
      %li
        %a{href: '/about', class: "#{active_tab == :about ? 'active' : ''}"}= t(:o_projektu)
      %li
        %a{href: '/compensation', class: "#{active_tab == :compensation ? 'active' : ''}"}= t(:o_kompenzaciji)
      %li
        %a{href: '/news', class: "#{active_tab == :news ? 'active' : ''}"}= t(:vesti_i_press)
      %li
        %a{href: '/documents', class: "#{active_tab == :documents ? 'active' : ''}"}= t(:dokumenti_i_izvjestaji)
      %li.stretch
