#everything{style: 'display:none'}
  =render partial: 'shared/tabs', locals: { active_tab: :home }
  #bkg1.dynamic-background
  #bkg2.dynamic-background
  #bkg3.dynamic-background
  #bkg4.dynamic-background
  #hana.hide-on-huge-window
    =image_tag("hana.png")
  #blood
    =image_tag("blood.png")
  #moreblood
    =image_tag("moreblood.png")
  #bkg5.dynamic-background
  .window
    .contents.left-pad
      .slide-container.left-pad.small-slides
        .slide.small-centered
          =image_tag("headline.#{I18n.locale}.png")
          #scroll
            =image_tag("scroll.png")
        .slide
          %a{name: 'meet'}
          %h1= t(:upoznajte_hanu)
          %h1= t(:upoznajte_hanu_text)
        .slide
          %h1= t(:nazalost_nikako)
        .slide
          %h1= t(:u_ocajnickoj_potrazi)
        .slide
          %h1= t(:prvi_dan)
        .slide
          %h1= t(:iducih_dana)
        .slide
          %h1= t(:ipak_kad_je_policija)
        .slide
          %h1= t(:kada_su_je_pustili)
        .slide
          %h1= t(:otmicari_pusteni)
        .slide
          %h1= t(:cekala_sudjenje)
        .slide
          %h1= t(:zakazano_sudjenje)
        .slide
          %h1= t(:strasno_iskustvo)
        .slide
          %h1= t(:hana_nadoknada) + ":"
          %ul.big
            %li= t(:za_batine) + ","
            %li= t(:za_oduzetu_slobodu) + ","
            %li= t(:za_prisilni_rad) + ","
            %li= t(:za_strah) + ","
            %li= t(:za_trajno_naruseno) + ","
            %li= t(:za_zivot) + "."
        .slide
          %h1= t(:hana_je_ljudsko_bice)
        .slide.big-slide
          %a{name: 'society'}
          %h1= t(:sto_drustvo_moze)
          %p= t(:gradjani_text)
        .slide.small-centered
          %h1
            =image_tag("headline.#{I18n.locale}.png")
        - if I18n.locale == :sr
          .slide
            <iframe width="640" height="360" src="//www.youtube.com/embed/NTO_egDgpcE" frameborder="0" allowfullscreen></iframe>
        - if I18n.locale == :en
          .slide
            <iframe width="640" height="360" src="//www.youtube.com/embed/9XvWkt6Vl6A" frameborder="0" allowfullscreen></iframe>
        - if I18n.locale == :hr
          .slide
            <iframe width="640" height="360" src="//www.youtube.com/embed/95dDs4UUD7A" frameborder="0" allowfullscreen></iframe>
        - if I18n.locale == :mk
          .slide
            <iframe width="640" height="360" src="//www.youtube.com/embed/_eblHm3Mxjc" frameborder="0" allowfullscreen></iframe>
        - if I18n.locale == :ba
          .slide
            <iframe width="640" height="360" src="//www.youtube.com/embed/XP5PyCj-VcE" frameborder="0" allowfullscreen></iframe>
        - if I18n.locale == :me
          .slide
            <iframe width="640" height="360" src="//www.youtube.com/embed/NTO_egDgpcE" frameborder="0" allowfullscreen></iframe>
        .slide.big-slide
          .logos
            =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
            %p.disclaimer= t(:disclaimer)

