#everything{style: 'display:none'}
  =render partial: 'shared/tabs', locals: { active_tab: :about }
  #bkg1.dynamic-background
  #hana
    =image_tag("hana.png")
  .window.bigger-window
    .contents.left-pad
      .slide-container.left-pad.big-slides
        .slide.big-slide
          %a{name: 'ban'}
          %h1= "„Balkans ACT (Against Crime of Trafficking) Now“"
          %h1= t(:projekat_realizuju)
          - t(:projekat_realizuju_list).each do |realizira|
            %p 
              %a{href: realizira['link'], target: '_blank'}= realizira['text']
          #scroll
            =image_tag("scroll.png")
        - if t(:projekat_realizuju_2_list).class == Array
          .slide.big-slide
            %h1= t(:projekat_realizuju_2)
            - t(:projekat_realizuju_2_list).each do |realizira|
              %p 
                %a{href: realizira['link'], target: '_blank'}= realizira['text']
        .slide.big-slide
          %h1= t(:projekat_finansira)
          %p= t(:projekat_finansira_text)
          %h1= t(:projekt_podrzavaju)
          - t(:projekat_podrzavaju_list).each do |podrzava|
            %p= podrzava
        .slide.big-slide
          %a{name: 'goals'}
          %h1= t(:trajanje_projekta)
          %p= t(:trajanje_projekta_text)
          - unless I18n.locale == :hr
            %p= t(:trajanje_projekta_text_2)
            %p= t(:ciljevi_intro)
        .slide.big-slide
          - if I18n.locale != :hr
            %h1= t(:specificni_ciljevi_po_fazama)
            %h2= t(:prva_faza)
            %p= t(:prva_faza_ciljevi)
            %h2= t(:druga_faza)
            %p= t(:druga_faza_ciljevi).html_safe
          - else
            %h1= t(:ciljevi)
            %p= t(:ciljevi_text_1)
            %p= t(:ciljevi_text_2).html_safe
        .slide.big-slide
          %a{name: 'activities'}
          %h1= t(:osnovne_aktivnosti)
          %ul
            - t(:osnovne_aktivnosti_list).each do |aktivnost|
              %li= aktivnost
        - if t(:osnovne_aktivnosti_2_list).class == Array
          .slide.big-slide
            %a{name: 'activities'}
            %h1= t(:osnovne_aktivnosti_2)
            %ul
              - t(:osnovne_aktivnosti_2_list).each do |aktivnost|
                %li= aktivnost
        .slide.big-slide
          %a{name: 'results'}
          - unless I18n.locale == :hr
            %h1= t(:ocekivani_rezultati_po_fazama)
          %h2= t(:ocekivani_rezultati)
          %ul
            - t(:ocekivani_rezultati_list).each do |rezultat|
              %li= rezultat

        - if t(:saradnici_na_projektu_2_list).class == Array
          .slide.big-slide
            %a{name: 'results'}
            %h2= t(:ocekivani_rezultati_2)
            %ul
              - t(:ocekivani_rezultati_2_list).each do |rezultat|
                %li= rezultat        
        .slide.big-slide
          %a{name: 'associates'}
          %h1= t(:saradnici_na_projektu)
          %ul
            - t(:saradnici_na_projektu_list).each do |saradnik|
              %li    
                %a{href: saradnik['link'], target: '_blank'}= saradnik['text']
        - if t(:saradnici_na_projektu_2_list).class == Array
          .slide.big-slide
            %a{name: 'associates'}
            %h1= t(:saradnici_na_projektu_2)
            %ul
              - t(:saradnici_na_projektu_2_list).each do |saradnik|          
                %li    
                  - if saradnik['link'].blank?
                    = saradnik['text']
                  - else
                    %a{href: saradnik['link'], target: '_blank'}= saradnik['text']

        .slide.big-slide
          %a{name: 'contact'}
          %h1= t(:kontakt)
          .smaller
            %p
              = t(:kontakt_naziv)
              <br/>
              = t(:kontakt_tel)
              <br/>
              = t(:kontakt_email).html_safe
              <br/>
              = t(:kontakt_web).html_safe

          - if I18n.locale == :en
            %p
              Women’s Rights Center<br/>
              tel/fax: +382 20 66 41 93<br/>
              e-mail: <a href='mailto:women.mne@gmail.com'>women.mne@gmail.com</a><br/>
             
            %p
              La Strada International<br/>
              Tel: + 31 6 14444066<br/>
              E-mail: <a href='mailto:info@lastradainternational.org'>info@lastradainternational.org</a><br/>
              web: <a href='http://www.lastradainternational.org'>www.lastradainternational.org</a><br/>
             
            %p
              La Strada Macedonia<br/>
              Тел/факс: 0 389 2 2 700 107<br/>
              Е-маил: <a href='mailto:lastrada@lastrada.org.mk'>lastrada@lastrada.org.mk</a><br/>
              Веб: <a href='http://www.lastrada.org.mk'>www.lastrada.org.mk</a><br/>
             
            %p
              International Forum of Solidarity - EMMAUS, Bosnia and Herzegovina<br/>
              tel: +387 33 263 385; fax: +387 33 263 386 <br/>
              e-mail: <a href='mailto:sarajevo@mfs-emmaus.ba'>sarajevo@mfs-emmaus.ba</a><br/>
              web: <a href='http://www.sigurnodijete.ba'>www.sigurnodijete.ba</a>, <a href='http://www.bihat.ba'>www.bihat.ba</a><br/>



        .slide.big-slide
          .logos
            =image_tag("logos.#{I18n.locale}.png", style: 'width:100%')
            %p.disclaimer= t(:disclaimer)

          
